<div class="search_initial_display">
  <h4>Journal Entry Author</h4>
  <div class="row">
    Removed
  </div> <!-- author /row -->

  <h4>Year</h4>
  <div class="row">
    Removed
  </div> <!-- year /row -->

</div> <!-- /search_initial_display -->
