<div class="pull-right">
  <%= link_to search_path({:qfield => params[:qfield], :qtext => params[:qtext]}), class: "btn btn-default btn-sm" do %>
    Clear Filters
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <% end %>
</div>
