<!-- text search -->
<% unless params["qtext"].blank? %>
  <div class="btn-group" role="group" aria-label="clear search text">
    <span type="button" class="btn btn-default btn-sm">
      <span class="filter-value" title="Query Term">Search : <%= params["qtext"] %></span>
    </span>
    <%= link_to clear_search, class: "btn btn-default btn-sm", type: "button" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
  </div>
<% end %>

<!-- selected facets -->
Removed
