<div class="row searchbox">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
          Removed
        <%= render partial: "search_partials/help" %>
        Removed
      </div>
    </div> <!-- /search panel -->
  </div>
</div> <!-- /row /searchbox -->
