<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>About</h2>

    <ul>
      <li><a href="item/lc.about.overview/">Overview</a></li>
      <li><a href="item/lc.about.onlineeditorialprocedures/">Online Editorial Procedures</a> </li>
      <li><a href="item/lc.about.technicalsummary/">Technical Summary</a></li>
      <li><a href="item/lc.about.advisoryboard/">Advisory Board</a></li>
      <li><a href="item/lc.about.projectteam/">Project Team</a> </li>
      <li><a href="item/lc.about.sponsors/">Sponsors</a></li>
      <li><a href="item/lc.about.faq/">Frequently Asked Questions</a></li>
      <li><a href="item/lc.about.links/">Links</a></li>
    </ul>
  </div>
</div>
