<h2>Advanced Search</h2>

<form>
  <div class="form-group">
    <label for="map_search_terms">Search Term</label>
    <input type="text" class="form-control" id="map_search_terms" placeholder="">
    <a class="pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Show search help
    </a>
    <br/>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="well">

      <h3>Search Help </h3>

      <h4>Basic search</h4>

      <p>Simply enter the word you wish to find and the search engine will search for every instance of the word in the journals. For example: Fight. All instances of the use of the word fight will show up on the results page. </p>

      <h4>Wildcard search</h4>

      <p>Using an asterisk (*) will increase the odds of finding the results you are seeking. For example: Fight*. The search results will display every instance of fight, fights, fighting, etc. More than one wildcard may be used. For example: *ricar*. This search will return most references to the Aricara tribe, including Ricara, Ricares, Aricaris, Ricaries, Ricaree, Ricareis, and Ricarra. Using a question mark (?) instead of an asterisk (*) will allow you to search for a single character. For example, r?n will find all instances of ran and run, but will not find rain or ruin. </p>

      <h4>Capitalization</h4>

      <p>Searches are not case sensitive. For example: george will come up with the same results as George.</p>

      <h4>Phrase search</h4>

      <p>Searching for a specific phrase may help narrow down the results. Rather long phrases are no problem. For example: "This white pudding we all esteem".</p>

      <h4>Subsequent searches</h4>

      <p>Because of the creative spellings used by the journalists, it may be necessary to try your search multiple times. For example: P?ro*. This search brings up numerous variant spellings of the French word pirogue, "a large dugout canoe or open boat." Searching for P?*r*og?* will bring up other variant spellings. Searching for canoe or boat also may be helpful.</p>





    </div>
  </div>




    <div class="btn-group">
      <button type="button" class="btn  btn-success" aria-label="Left Align" data-toggle="collapse" href="#journal_search_options" aria-expanded="false" aria-controls="journal_search_options">Journals</button>
      <button type="button" class="btn btn-success not_journal" aria-label="Center Align">Journals Supplementary</button>
      <button type="button" class="btn btn-success not_journal" aria-label="Right Align">All</button>
      <button type="button" class="btn btn-success not_journal" aria-label="Justify">Everything but Journals</button> </div>

  <div class="panel panel-default collapse" id="journal_search_options">
    <div class="panel-body">

      <h3>Limit by Author </h3>
      <div class="three_column">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Lewis
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Clark
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Ordway
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"> Gass
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Whitehouse
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Floyd
          </label>
        </div>

      </div><!-- three column -->
      <h3>Limit by Date</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group form-inline">
            <label for="map_search_terms">Date From</label><br/>
            <input type="text" class="form-control" id="map_search_terms" placeholder="1803" maxlength="4" size="4">
            <input type="text" class="form-control" id="map_search_terms" placeholder="08" maxlength="2" size="2">
            <input type="text" class="form-control" id="map_search_terms" placeholder="30" maxlength="2" size="2">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group form-inline">
            <label for="map_search_terms">Date To</label><br/>
            <input type="text" class="form-control" id="map_search_terms" placeholder="1806" maxlength="4" size="4">
            <input type="text" class="form-control" id="map_search_terms" placeholder="09" maxlength="2" size="2">
            <input type="text" class="form-control" id="map_search_terms" placeholder="01" maxlength="2" size="2">
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div></div>








    <button type="submit" class="btn btn-primary pull-right">Submit Search</button>











  </form>

