<%
  @title = "Calendar of Entries"
  @description = ""

  @ext_css = %w( calendar )

  @ext_js = %w(
    bootstrap-year-calendar.min
    calendar/calendar
    calendar/dates
  )

  date_range = <<-END
  <script>
    maxDate = new Date("#{ENTRY_DATE_LAST.join("-")}");

    // Augment by one day, as calendar excludes the day set as this variable
    maxDate.setDate(maxDate.getDate() + 1);

    minDate = new Date("#{ENTRY_DATE_FIRST.join("-")}");
    startYear = "#{ENTRY_DATE_FIRST[0]}";
  </script>
  END

  @inline_js = date_range.html_safe
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Browse Journals by Date</h4><br/>

    <!-- From http://www.bootstrap-year-calendar.com/#Examples/API -->

    <div id="calendar"/>
  </div>
</div>
