<%= javascript_include_tag "bootstrap-year-calendar.min", media: "all" %>
<%= javascript_include_tag "calendar/dates", media: "all" %>
<%= javascript_include_tag "calendar/calendar", media: "all" %>

<%= stylesheet_link_tag "calendar", media: "all" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Browse Journals by Date</h4><br/>

    <!-- From http://www.bootstrap-year-calendar.com/#Examples/API -->

    <div id="calendar"/>
  </div>
</div>
