<h2>Images & Maps</h2>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="images">Journals</a></li>
  <li role="presentation"><a href="images_maps">Maps</a></li>
  <li role="presentation"><a href="images_people_places">People & Places</a></li>
  <li role="presentation" class="active"><a href="images_plants_animals">Plants & Animals</a></li>
</ul>

<br/>
<p class="gallery_note">Note: These images are taken from Lewis and Clark on the Great Plains: A Natural History by Paul A. Johnsgard, courtesy of the University of Nebraska Press. Permission to reproduce is required.</p>

<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig01.jpg" alt="Bison" title="Bison"/></a>Bison, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig02.jpg" alt="Bears" title="Bears"/></a>Grizzly bear adult (top) and black bear adult (bottom)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig03/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig03.jpg" alt="Elk" title="Elk"/></a>Elk, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig04/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig04.jpg" alt="Pronghorn" title="Pronghorn"/></a>Pronghorn, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig05/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig05.jpg" alt="Least tern" title="Least tern"/></a>Least tern, adult and chick
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig06/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig06.jpg" alt="Piping Plover" title="Piping Plover"/></a>Piping Plover, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig07/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig07.jpg" alt="Buffaloberry" title="Buffaloberry"/></a>Buffaloberry, female plant with berries
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig08/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig08.jpg" alt="Pasture Sagewort" title="Pasture Sagewort"/></a>Pasture sagewort, with leaf variation and flower detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig09/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig09.jpg" alt="Bighorn" title="Bighorn"/></a>Bighorn, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig10/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig10.jpg" alt="Black-tailed prairie dog" title="Black-tailed prairie dog"/></a>Black-tailed prairie dog, adult ("all-clear" or "jump-yip" call)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig11/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig11.jpg" alt="Coyote" title="Coyote"/></a>Coyote, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig12/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig12.jpg" alt="Grey Wolf" title="Grey Wolf"/></a>Grey wolf, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig13/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig13.jpg" alt="Mule Deer" title="Mule Deer"/></a>Mule deer, adult male (in autumn)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig14/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig14.jpg" alt="Richardson's Ground Squirrel" title="Richardson's Ground Squirrel"/></a>Richardson's ground squirrel, adult ("pocket-pin" posture)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig15/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig15.jpg" alt="White-tailed Jackrabbit" title="White-tailed Jackrabbit"/></a>White-tailed jackrabbit, adult in summer pelage
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig16/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig16.jpg" alt="Common poorwill" title="Common poorwill"/></a>Common poorwill, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig17/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig17.jpg" alt="Golden Eagle" title="Golden Eagle"/></a>Golden eagle, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig18/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig18.jpg" alt="Sharp-tailed Grouse" title="Sharp-tailed Grouse"/></a>Sharp-tailed grouse, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig19/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig19.jpg" alt="Trumpeter Swan" title="Trumpeter Swan"/></a>Trumpeter swan, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig20/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig20.jpg" alt="Western Meadowlark" title="Western Meadowlark"/></a>Western Meadowlark, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig21/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig21.jpg" alt="Sharp-tailed Grouse" title="Sharp-tailed Grouse"/></a>Sharp-tailed grouse, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig22/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig22.jpg" alt="Bearberry" title="Bearberry"/></a>Bearberry
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig23/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig23.jpg" alt="Fringed Sagebrush" title="Fringed Sagebrush"/></a>Fringed sagebrush, with leaf variation and flower detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig24/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig24.jpg" alt="Indian Tobacco" title="Indian Tobacco"/></a>Indian tobacco
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig25/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig25.jpg" alt="Lanceleaf Sage" title="Lanceleaf Sage"/></a>Lanceleaf sage, with leaf variation and flower detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig26/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig26.jpg" alt="Clammyweed" title="Clammyweed"/></a>Large-flowered clammyweed, with flower detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig27/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig27.jpg" alt="Missouri milk-vetch" title="Missouri milk-vetch"/></a>Missouri milk-vetch
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig28/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig28.jpg" alt="Shadscale" title="Shadscale"/></a>Shadscale, with seed detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig29/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig29.jpg" alt="Silky Wormwood" title="Silky Wormwood"/></a>Silky wormwood, with leaf variation and flower detail
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig30/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig30.jpg" alt="Juniper and Sparrow" title="Juniper and Sparrow"/></a>Western juniper and adult lark sparrow
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig31/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig31.jpg" alt="Bushy-tailed Woodrat" title="Bushy-tailed Woodrat"/></a>Bushy-tailed woodrat, adult with cache
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig32/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig32.jpg" alt="Swift Fox" title="Swift Fox"/></a>Swift fox, adult
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig33/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig33.jpg" alt="Ground Squirrel" title="Ground Squirrel"/></a>Thirteen-lined ground squirrel, adult (dormant)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig34/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig34.jpg" alt="Greater Sage-grouse" title="Greater Sage-grouse"/></a>Greater sage-grouse, adult male (right) and female
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig35/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig35.jpg" alt="Lewis's Woodpecker" title="Lewis's Woodpecker"/></a>Lewis's woodpecker, adult male (right) and female
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig36/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig36.jpg" alt="McCown's Longspur" title="McCown's Longspur"/></a>McCown's longspur, adult male
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig37/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig37.jpg" alt="Western Rattlesnake" title="Western Rattlesnake"/></a>Western rattlesnake (top and middle) and western hognose snake (bottom)
</div>
<div class="image_gallery_image"><a href="item/lc.img.johnsgard.01.fig38/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_nlc.johnsgard.01.fig38.jpg" alt="Catfish and Trout" title="Catfish and Trout"/></a>Channel catfish (top), blue catfish (middle), and cutthroat trout (bottom)
</div>


<hr/>



<p class="gallery_note">Note: These images are courtesy of the American Philosophical Society library. Permission to reproduce is required.</p>


<div class="image_gallery_image"><a href="item/lc.img.1804-1805.winter.part3.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-1805.winter.part3.01.jpg" alt="&quot;Convolvalist&quot; leaf" title="&quot;Convolvalist&quot; leaf"/></a>Large "convolvalist" leaf (<font face="Arial, Arial, Helvetica"><em>Convolvulus sepium L.,</em></font>
                           
hedge bindweed), July 17, 1804, Codex R, p. 37

</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-01-07.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-07.01.jpg" alt="Skate" title="Skate"/></a>Skate (big skate, <font face="Arial, Arial, Helvetica"><em>Raja binoculata</em></font>),
January 7, 1806, Clark's First Draft
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-09.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-09.01.jpg" alt="Fir Leaf" title="Fir Leaf"/></a>Fir Leaf (Douglas fir, <font face="Arial, Arial, Helvetica"><em>Pseudotsuga taxifolia</em></font>),
February 9, 1806, Codex J, p. 65
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-10.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-10.01.jpg" alt="Maple Leaf" title="Maple Leaf"/></a>Maple Leaf (vine maple, <font face="Arial, Arial, Helvetica"><em>Acer circinatum</em></font>),
February 10, 1806, Codex J, p. 66
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-13.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-13.01.jpg" alt="Fern Leaf" title="Fern Leaf"/></a>Fern Leaf (Christmas fern, <font face="Arial, Arial, Helvetica"><em>Polystichum munitum</em></font>),
February 13, 1806, Codex J, p. 71
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-17.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-17.01.jpg" alt="California condor" title="California condor"/></a>Head of a Vulture (California condor, <font face="Arial, Arial, Helvetica"><em>Gymnogyps califorianus</em></font>),
February 17, 1806, Codex J, p. 80
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-18.01.jpg" alt="Pine Cone" title="Pine Cone"/></a>Pine Cone (Sitka spruce, <font face="Arial, Arial, Helvetica"><em>Picea sitchensis</em></font>),
February 18, 1806, Codex J, p. 83

</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-02-24.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-24.01.jpg" alt="Eulachon" title="Eulachon"/></a>Eulachon (<font face="Arial, Arial, Helvetica"><em>Thaleichthys pacificus</em></font>),
February 24, 1806, Codex J, pp. 93
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-03-02.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-02.01.jpg" alt="Cock of the Plains" title="Cock of the Plains"/></a>Head of Cock of the Plains
(sage grouse, <font face="Arial, Arial, Helvetica"><em>Centrocercus urophasianus</em></font>),
March 2, 1806, Codex J, p. 107

</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-03-07.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-07.01.jpg" alt="White Gull" title="White Gull"/></a>Head of a White Gull
(northern fulmar, <font face="Arial, Arial, Helvetica"><em>Fulmarus glacialis</em></font>),
March 7, 1806, Codex J, p. 115

</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-03-15.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-15.01.jpg" alt="Brant Head" title="Brant Head"/></a>Head of a Brant
(greater white-fronted goose, <font face="Arial, Arial, Helvetica"><em>Anser albifrons</em></font>),
March 15, 1806, Codex J, p. 131
</div>
<div class="image_gallery_image"><a href="item/lc.img.1806-03-16.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-16.01.jpg" alt="White Salmon Trout" title="White Salmon Trout"/></a>White Salmon Trout
(coho salmon, <font face="Arial, Arial, Helvetica"><em>Oncorhynchus kisutch</em></font>),
March 16, 1806, Codex J, p. 133
</div>

