<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Images &amp; Maps</h2>

    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to "Journals", images_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "Maps", images_maps_path %>
      </li>
      <li role="presentation">
        <%= link_to "People & Places", images_people_places_path %>
      </li>
      <li role="presentation">
        <%= link_to "Plants & Animals", images_plants_animals_path %>
      </li>
    </ul>

    <br/>

    <p class="gallery_note">Note: These images are courtesy of the University of Nebraska Press. Permission to reproduce is required.</p>

    <div class="image_gallery_image"><a href="item/lc.img.1803-08-30.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-08-30.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>The Expedition's Route, August 30, 1803–August 24, 1804
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-05-14-1.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-05-14-1.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>Map of Expedition's Route, May 14, 1804–September 23, 1806
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-08-25.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-08-25.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>The Expedition's Route, August 25, 1804–April 6, 1805
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-06-21.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-06-21.01.jpg" alt="Portage and Falls" title="Portage and Falls"/></a>Portage and Falls of the Missouri River
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-28.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-28.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>The Expedition's Route, July 28–November 1, 1805
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-08-17.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-08-17.01.jpg" alt="From Three Forks" title="From Three Forks"/></a>From Three Forks to Travelers' Rest, July 25–September 11, 1805
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-08-28.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-08-28.01.jpg" alt="Lolo Trail" title="Lolo Trail"/></a>The Lolo Trail, September 11–22, 1805
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-28.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-28.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>The Expedition's Route, July 28–November 1, 1805
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-22.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-22.01.jpg" alt="Fort Clatsop Environs" title="Fort Clatsop Environs"/></a>Fort Clatsop Environs, December 7, 1805–March 23, 1806
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-06-10.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-06-10.01.jpg" alt="Expedition's Route" title="Expedition's Route"/></a>The Expedition's Route, June 10–September 23, 1806
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-06-24.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-06-24.01.jpg" alt="The Lolo Trail" title="The Lolo Trail"/></a>The Lolo Trail, June 10–July 3, 1806
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-07-03.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-07-03.01.jpg" alt="Marias and Yellowstone" title="Marias and Yellowstone"/></a>On the Marias and Yellowstone Rivers, July 3–August 12, 1806
    </div>

    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the American Philosophical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image"><a href="item/lc.img.1804-1805.winter.part1.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-1805.winter.part1.01.jpg" alt="Mississippi River" title="Mississippi River"/></a>Mississippi River and Tributaries in Present Minnesota, undated (winter 1804–5), Codex C, p. 155
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-04.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-04.01.jpg" alt="Falls and Portage" title="Falls and Portage"/></a>Falls and Portage of the Missouri River, ca. July 4, 1805, Codex E, pp. 132–33
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-22.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-22.01.jpg" alt="Great Falls" title="Great Falls"/></a>Great (Celilo) Falls of the Columbia River, Washington and Oregon, October 22–23, 1805, Codex H, p.1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-24.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-24.01.jpg" alt="The Dalles" title="The Dalles"/></a>Long and Short Narrows (The Dalles) of the Columbia River, Washington and Oregon, October 22–28, 1805, Codex H, pp. 2–3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-01.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-01.02.jpg" alt="Cascades" title="Cascades"/></a>Great Rapids (Cascades) of the Columbia River, Washington and Oregon, October 30–November 2, 1805, Codex H, p. 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-04.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-04.01.jpg" alt="Falls and Portage" title="Falls and Portage"/></a>Falls and Portage of the Missouri River, ca. July 4, 1805, Codex E, pp. 132–33
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-12-01.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-01.01.jpg" alt="Point Adams" title="Point Adams"/></a>Point Adams, Oregon, ca. December 1, 1805, Codex Ia, p.7
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-06.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-06.01.jpg" alt="Whale Site" title="Whale Site"/></a>Route to the Whale Site, ca. January 6–10, 1806, Clark's First Draft
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-03.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-03.01.jpg" alt="Confluence" title="Confluence"/></a>Confluence of Willamette and Columbia Rivers and Environs, April 3, 1806, Codex K, pp. 28–29
    </div>
  </div>
</div>
