<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Images & Maps</h2>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="images">Journals</a></li>
      <li role="presentation"><a href="images_maps">Maps</a></li>
      <li role="presentation"><a href="images_people_places">People & Places</a></li>
      <li role="presentation"><a href="images_plants_animals">Plants & Animals</a></li>
    </ul>

    <br/>
    <p class="gallery_note">Note: These images are courtesy of the American Philosophical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image">
    <a href="item/lc.img.1803-11-20.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-11-20.01.jpg"
    alt="Sand Bar" title="Sand Bar" /></a>
    <em>Sand Bar, November 20, 1803,</em> Eastern Journal</div>
    <div class="image_gallery_image"><a href="item/lc.img.1803-11-20.02/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-11-20.02.jpg"
    alt="Island" title="Island" /></a>
    <em>Island, November 20, 1803,</em> Eastern Journal </div>
    <div class="image_gallery_image"><a href="item/lc.img.1803-11-21.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-11-21.01.jpg"
    alt="Island" title="Island" /></a>Island, November 21, 1803, Eastern Journal</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1804-06-05.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-05.01.jpg"
    alt="Manitou" title="Manitou" /></a>Manitou on a Rock, June 5, 1804, Codex A, p. 34 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-1805.winter.part1.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-1805.winter.part1.01.jpg"
    alt="Mississippi River" title="Mississippi River" /></a>Mississippi River and Tributaries
    in Present Minnesota, undated (winter 1804–5), Codex C, p. 155</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1804-1805.winter.part3.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-1805.winter.part3.01.jpg"
    alt="&quot;Convolvalist&quot; leaf" title="&quot;Convolvalist&quot; leaf" /></a>Large
    "convolvalist" leaf (<em>Convolvulus sepium L.,</em>
    hedge bindweed), July 17, 1804, Codex R, p. 37 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-01-28.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-01-28.01.jpg"
    alt="War Hatchet" title="War Hatchet" /></a>War Hatchet, January 28, 1805, Codex C, p.
    158</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-02-05.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-02-05.01.jpg"
    alt="Battle Ax" title="Battle Ax" /></a>Battle Ax, February 5, 1805, Codex C, p. 165 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-04.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-04.01.jpg"
    alt="Falls and Portage" title="Falls and Portage" /></a>Falls and Portage of the Missouri
    River, ca. July 4, 1805, Codex E, pp. 132–33</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-08-13.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-08-13.01.jpg"
    alt="Smoking-pipe" title="Smoking-pipe" /></a>Shoshone Smoking-pipe, August 13, 1805,
    Codex F, p. 99 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-08-21.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-08-21.01.jpg"
    alt="Fish Weir" title="Fish Weir" /></a>Shoshone Fish Weir, August 21, 1805, Codex F, p.
    147</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-10-22.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-22.01.jpg"
    alt="Great Falls" title="Great Falls" /></a>Great (Celilo) Falls of the Columbia River,
    Washington  and Oregon, October 22–23, 1805, Codex H, p.1 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-24.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-24.01.jpg"
    alt="The Dalles" title="The Dalles" /></a>Long and Short Narrows (The Dalles)  of the
    Columbia River, Washington and Oregon, October 22–28, 1805, Codex H, pp. 2–3</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-10-24.03/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-24.03.jpg"
    alt="Hut Door" title="Hut Door" /></a>
    <em>Shape of a Hut Door,</em> October 24, 1805, Codex H, p. 63 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-01.02/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-01.02.jpg"
    alt="Cascades" title="Cascades" /></a>Great Rapids (Cascades) of the Columbia River,
    Washington and Oregon, October 30–November 2, 1805, Codex H, p. 4</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-11-16.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-16.01.jpg"
    alt="Mouth of the Columbia" title="Mouth of the Columbia" /></a>Mouth of the Columbia
    River, Washington and Oregon, ca. November 16–25, 1805, Codex I, p. 152 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-12-01.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-01.01.jpg"
    alt="Point Adams" title="Point Adams" /></a>Point Adams, Oregon, ca. December 1,
    1805, Codex Ia, p.7</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1805-12-29.02/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-29.02.jpg"
    alt="Conic Hat" title="Conic Hat" /></a>Conic Hat, December 29, 1805, Codex I, p. 80 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-1806.winter.part1.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-1806.winter.part1.01.jpg"
    alt="Tongue Point" title="Tongue Point" /></a>Tongue Point, Oregon, Winter 1805–6,
    Codex I, p. 11 </div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-01-01.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-01.01.jpg"
    alt="Two Swords" title="Two Swords" /></a>Two Swords, a Bludgeon, and a Paddle,
    January 1, 1806, Codex J, p. 1 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-06.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-06.01.jpg"
    alt="Whale Site" title="Whale Site" /></a>Route to the Whale Site, ca. January 6–10,
    1806, Clark's First Draft</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-01-07.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-07.01.jpg"
    alt="Skate" title="Skate" /></a>Skate (big skate, <em>Raja binoculata</em>), January
    7, 1806, Clark's First Draft </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-15.02/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-15.02.jpg"
    alt="Arrow" title="Arrow" /></a>Arrow, January 15, 1806, Codex I, p. 119</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-01-16.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-16.01.jpg"
    alt="Bone Fishhook" title="Bone Fishhook" /></a>Bone Fishhook and Line, January 16,
    1806, Codex J, p. 28 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-23.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-23.01.jpg"
    alt="Digging Instrument" title="Digging Instrument" /></a>Digging Instrument,
    January 23, 1806, Codex I, p. 135</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-01-24.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-24.01.jpg"
    alt="Digging Instrument" title="Digging Instrument" /></a>Digging Instrument,
    January 24, 1806, Codex J, p. 40 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-29.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-29.01.jpg"
    alt="Conic Hat" title="Conic Hat" /></a>Conic Hat and Double-edged Knife, January
    29, 1806, Codex I, p. 144</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-02-01.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-01.01.jpg"
    alt="Paddle, Canoes" title="Paddle, Canoes" /></a>Paddle, Small Canoe, Canoe with High
    Bow, and Most Common Canoe, February 1, 1806, Codex J, p. 52 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-01.02/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-01.02.jpg"
    alt="Canoe with Images" title="Canoe with Images" /></a>Canoe with Carved Images,
    February 1, 1806, Codex J, p. 53</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-02-09.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-09.01.jpg"
    alt="Fir Leaf" title="Fir Leaf" /></a>Fir Leaf (Douglas fir, <em>Pseudotsuga
    taxifolia</em>), February 9, 1806, Codex J, p. 65 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-10.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-10.01.jpg"
    alt="Maple Leaf" title="Maple Leaf" /></a>Maple Leaf (vine maple, <em>Acer
    circinatum</em>), February 10, 1806, Codex J, p. 66</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-02-13.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-13.01.jpg"
    alt="Fern Leaf" title="Fern Leaf" /></a>Fern Leaf (Christmas fern, <em>Polystichum
    munitum</em>), February 13, 1806, Codex J, p. 71 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-17.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-17.01.jpg"
    alt="California condor" title="California condor" /></a>Head of a Vulture (California
    condor, <em>Gymnogyps califorianus</em>), February 17, 1806, Codex J, p. 80</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-02-18.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-18.01.jpg"
    alt="Pine Cone" title="Pine Cone" /></a>Pine Cone (Sitka spruce, <em>Picea
    sitchensis</em>), February 18, 1806, Codex J, p. 83 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-24.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-24.01.jpg"
    alt="Eulachon" title="Eulachon" /></a>Eulachon (<em>Thaleichthys pacificus</em>),
    February 24, 1806, Codex J, pp. 93</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-03-02.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-02.01.jpg"
    alt="Cock of the Plains" title="Cock of the Plains" /></a>Head of Cock of the Plains
    (sage grouse, <em>Centrocercus urophasianus</em>), March 2, 1806, Codex J, p. 107 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-07.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-07.01.jpg"
    alt="White Gull" title="White Gull" /></a>Head of a White Gull (northern fulmar,
    <em>Fulmarus glacialis</em>), March 7, 1806, Codex J, p. 115 </div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-03-15.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-15.01.jpg"
    alt="Brant Head" title="Brant Head" /></a>Head of a Brant (greater white-fronted
    goose, <em>Anser albifrons</em>), March 15, 1806, Codex J, p. 131 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-16.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-16.01.jpg"
    alt="White Salmon Trout" title="White Salmon Trout" /></a>White Salmon Trout (coho
    salmon, <em>Oncorhynchus kisutch</em>), March 16, 1806, Codex J, p. 133</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-03-29.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-29.01.jpg"
    alt="Iron Scimitar" title="Iron Scimitar" /></a>Iron Scimitar, March 29, 1806, Codex K, p.
    14 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-03.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-03.01.jpg"
    alt="Confluence" title="Confluence" /></a>Confluence of Willamette and Columbia Rivers and
    Environs, April 3, 1806, Codex K, pp. 28–29</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-04-06.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-06.01.jpg"
    alt="Canoe" title="Canoe" /></a>Two Views of a Canoe, April 6, 1806, Codex K, p. 33 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-26.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-26.01.jpg"
    alt="Bone Fishhook" title="Bone Fishhook" /></a>Bone Fishhook, April 26, 1806, Codex K, p.
    83</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-05-18.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-05-18.01.jpg"
    alt="Fish Net" title="Fish Net" /></a>Fish Net, May 18, 1806, Codex K, p. 139 </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-05-31.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-05-31.01.jpg"
    alt="Snake and Missouri" title="Snake and Missouri" /></a>Snake and Missouri Rivers and
    their Connections, May 29–31, 1806, Codex M,pp. 1–2</div>
    <div class="image_gallery_image">
    <a href="item/lc.img.1806-07-11.01/"><img
    src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-07-11.01.jpg"
    alt="Lewis's Route" title="Lewis's Route" /></a>Lewis's Route from Traveler's Rest to the
    Missouri River, ca. July 3–11, 1806, Codex N, pp. 149–50 </div>

    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the Missouri Historical Society library. Permission to reproduce is required.</p>

    <div class="image_gallery_image"><a href="item/lc.img.1804-1805.winter.part5.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-1805.winter.part5.01.jpg" alt="" title=""/></a>Area about Fort Mandan and North to theAssinboine River, undated (winter 1804–05), Voorhis Collection, Missouri Historical Society
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-04-28.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-04-28.01.jpg" alt="" title=""/></a>Aspect of the Missouri River, April 28, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-05-25.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-05-25.01.jpg" alt="" title=""/></a>Ibex (bighorn sheep, <em>Ovis canadensis</em>), May 25, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-02.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-02.01.jpg" alt="" title=""/></a>Falls and Portage of the Missouri River, ca. July 2, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-03.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-03.01.jpg" alt="" title=""/></a>Great Falls of the Missouri River, ca. July 3, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-03.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-03.02.jpg" alt="" title=""/></a>"Handsome Falls" (present Rainbow Falls) of the Missouri River, ca. July 3, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-07-03.03/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-07-03.03.jpg" alt="" title=""/></a>"Upper Falls" (present Black Eagle Falls) of the Missouri River, ca. July 3, 1805, Voorhis no. 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-09-11.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-09-11.01.jpg" alt="" title=""/></a>Route from Traveler's Rest toward Lolo Trail, Montana, September 11–12, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-09-16.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-09-16.01.jpg" alt="" title=""/></a>On the Lolo Trail, Idaho, September 13–16, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-09-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-09-18.01.jpg" alt="" title=""/></a>On the Lolo Trail, Idaho, September 16–18, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-09-20.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-09-20.01.jpg" alt="" title=""/></a>On the Lolo Trail, Idaho, September 18–20, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-09-20.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-09-20.02.jpg" alt="" title=""/></a>On the Lolo Trail to Canoe camp at the Junctionof the North Fork Clearwater and Clearwater Rivers, Idaho,September 20–October 7, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-10.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-10.01.jpg" alt="" title=""/></a>Confluence of the Clearwater and Snake Rivers,Idaho-Washington Border, ca. October 10, 1805,elkskin-bound Juornal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-13.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-13.01.jpg" alt="" title=""/></a>Columbia River and Affluents, Washington,ca. October 13, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-14.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-14.01.jpg" alt="" title=""/></a>Indian Locales on Columbia River and Affluents,ca. October 14, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-15.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-15.01.jpg" alt="" title=""/></a>Indian Groups of the Columbia River Basin,ca. October 15, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-18.01.jpg" alt="" title=""/></a>Indian Groups on Columbia River and Affluents,ca. October 18, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-18.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-18.02.jpg" alt="" title=""/></a>Columbia River near Mouth of Walla Walla River, Washington,October 16–18, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-18.04/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-18.04.jpg" alt="" title=""/></a>Confluence of Snake and Columbia Rivers, Washington,ca. October 18, 1805, Voorhis No. 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-19.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-19.01.jpg" alt="" title=""/></a>Columbia River near Mouth of Umatilla River(not shown), Washington and Oregon, ca. October 19, 1805,Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-20.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-20.01.jpg" alt="" title=""/></a>Columbia River, Area between Mouths of Umatillaand John Day Rivers (not shown), Washington and Oregon,ca. October 20, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-20.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-20.02.jpg" alt="" title=""/></a>Columbia River near Mouth of John Day River, Washingtonand Oregon, ca. October 20, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-21.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-21.01.jpg" alt="" title=""/></a>Columbia River near Mouth Deschutes River, Washingtonand Oregon, ca. October 21, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-22.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-22.02.jpg" alt="" title=""/></a>Great (Celilo) Falls of the Columbia River, Washingtonand Oregon, October 22–23, 1805, Voorhis No. 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-10-24.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-10-24.01.jpg" alt="" title=""/></a>Long and Short Narrows (The Dalles)of the Columbia River, Washington and Oregon,October 22–28, 1805, Voorhis No. 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-01.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-01.01.jpg" alt="" title=""/></a>Shape of a Hut Door, November 1, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-01.03/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-01.03.jpg" alt="" title=""/></a>Great Rapids (Cascades) of the Columbia River, Washingtonand Oregon, October 30–November 2, 1805, Voohis No. 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-18.01.jpg" alt="" title=""/></a>Flounder (starry flounder, <em>Platichthys stellatus</em>), November 18, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-11-18.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-11-18.02.jpg" alt="" title=""/></a>Area about Cape Disappointment, ca. November 18, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-12-07.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-07.01.jpg" alt="" title=""/></a>Plan of Fort Clatsop Drawn over Area of Youngs Bay, ca. December 7, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-12-07.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-07.02.jpg" alt="" title=""/></a>Plan of Fort Clatsop, ca. December 7, 1805, Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-12-29.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-12-29.01.jpg" alt="" title=""/></a>Conic Hat, December 29, 1805,Elkskin-bound Journal
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-01-30.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-01-30.01.jpg" alt="" title=""/></a>Method of Head-flattening andAdults with Skull Deformation,ca. January 30, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-01.03/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-01.03.jpg" alt="" title=""/></a>Paddle, Small Canoe, and Sharp-pointed Paddle,February 1, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-01.04/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-01.04.jpg" alt="" title=""/></a>Another Small Canoe, Canoe with High Bow, andMost Common Canoe, February 1, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-01.05/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-01.05.jpg" alt="" title=""/></a>Canoe with Carved Images,February 1, 1806 No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-08.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-08.01.jpg" alt="" title=""/></a>Stalk and Leaves of the Shallon (salal, <em>Gaultheria shallon</em>),February 8, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-09.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-09.02.jpg" alt="" title=""/></a>Fir Cone (Sitka spruce, <em>Picea sitchensis</em>),February 9, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-10.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-10.02.jpg" alt="" title=""/></a>Maple Leaf (vine maple, <em>Acer Circinatum</em>), February 10, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-12.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-12.01.jpg" alt="" title=""/></a>Evergreen Shrub Leaf (Oregon grape, <em>Berberis aquifolium</em>), February 12, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-12.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-12.02.jpg" alt="" title=""/></a>Evergreen Shrub Leaf (dull Oregon grape, <em>Berberis nervosa</em>),February 12, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-13.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-13.02.jpg" alt="" title=""/></a>Evergreen Shrub Leaf (dull Oregon grape, Fern Leaf (Christmas fern, <em>Polystichum munitum</em>),February 13, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-16.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-16.01.jpg" alt="" title=""/></a>Head of a Vulture (California condor, <em>Gymnogyps californianus</em>), February, 16, 1806, Voorhis No. 2.
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-02-25.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-02-25.01.jpg" alt="" title=""/></a>Eulachon (<em>Thaleichthys pacificus</em>),
    February 25, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-02.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-02.02.jpg" alt="" title=""/></a>Cock of the Plains(sage grouse, <em>Centrocercus urophasianus</em>),March 2, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-06.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-06.01.jpg" alt="" title=""/></a>Head of a White Gull(northern fulmar, <em>Fulmarus glacialis</em>),March 6, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-15.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-15.02.jpg" alt="" title=""/></a>Head of a Brant(greater white-fronted goose, <em>Anser albifrons</em>),March 15, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-16.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-16.02.jpg" alt="" title=""/></a>White Salmon Trout(coho salmon, <em>Oncorhynchus kisutch</em>),March 16, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-03-30.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-03-30.01.jpg" alt="" title=""/></a>Iron Scimitar, March 30, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-03.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-03.02.jpg" alt="" title=""/></a>Plan of Chinookan House, April 3, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-03.03/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-03.03.jpg" alt="" title=""/></a>Confluence of Willamette and Columbian Rivers and Environs, April 3, 1806, Voorhis No. 2
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-04.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-04.01.jpg" alt="" title=""/></a>Columbian, Missouri, and Yellowstone Rivers and their Connections, ca. April 4, 1806, Voorhis No. 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-18.01.jpg" alt="" title=""/></a>Game Bone, April 18, 1806, First Draft Voorhis Fragment
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-20.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-20.01.jpg" alt="" title=""/></a>Confluence of Snake and Columbia Rivers and Environs, ca. April 1820, 1806,Voorhis No. 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-26.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-26.02.jpg" alt="" title=""/></a>Bone Fishhook, April 26, 1806, Voorhis No. 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-04-29.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-04-29.01.jpg" alt="" title=""/></a>Fish Weir, April 29, 1806, Voorhis No. 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-05-11.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-05-11.01.jpg" alt="" title=""/></a>Fish Net, May 11, 1806, Voorhis No. 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-07-18.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-07-18.01.jpg" alt="" title=""/></a>Yellowstone River, Sweetgrass-Stillwater Counties, Montana,July 17–18, 1806, Vorhis First Draft
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1806-07-18.02/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1806-07-18.02.jpg" alt="" title=""/></a>Islands on the Yellowstone River, Stillwater County, Montana,July 18, 1806, Voorhis First Draft
    </div>


    <hr/>

    <p class="gallery_note">Note: These images are courtesy of the Beinecke Library, Yale University. Permission to reproduce is required.</p>




    <div class="image_gallery_image"><a href="item/lc.img.1803-11-15.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-11-15.01.jpg" alt="Ohio, Mississippi Rivers" title="Ohio, Mississippi Rivers"/></a>Confluence of Ohio and Mississippi Rivers,
    ca. November 15, 1803, Field Notes, document 3
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1803-12-29.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1803-12-29.01.jpg" alt="Camp Dubois" title="Camp Dubois"/></a>Plan of Camp Dubois, ca. December 29, 1803,
    Field Notes, reverse of document 1
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-01-03.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-01-03.01.jpg" alt="" title=""/></a>Confluence of Missouri and Mississippi Rivers, ca. January 3, 1804, Field Notes, reverse of document 4
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-01-21.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-01-21.01.jpg" alt="" title=""/></a>Sketches of the Keelboat, ca. January 21, 1804, Field Notes, reverse of document 7
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-04-12.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-04-12.01.jpg" alt="" title=""/></a>Sketch of the White Pirogue, ca. April 12, 1804, Field Notes, reverse of document 10
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-06-01.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-01.01.jpg" alt="" title=""/></a>Missouri River near Mouth of Osage River and East, ca. June 1, 1804, Field Notes, reverse of document 17
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-06-01.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-01.01.jpg" alt="" title=""/></a>Missouri River near Mouth of Osage River and East, ca. June 1, 1804, Field Notes, reverse of document 17
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-06-05.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-05.01.jpg" alt="Manitou" title="Manitou"/></a>Manitou on a Rock, June 5, 1804, Codex A, p. 34
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-06-07.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-07.01.jpg" alt="" title=""/></a>Manitou, Buffalo, and Indian on a Rock, June 7, 1804, Field Notes, reverse of document 19
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-06-13.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-06-13.01.jpg" alt="" title=""/></a>Missouri River near Mouth of Osage River and West, ca. June 13, 1804, Field Notes, reverse of document 18
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-07-01.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-07-01.01.jpg" alt="" title=""/></a>Missouri River near Mouth of Grand River to Beyond Mouth of Kansas Rier, ca. July 1, 1804, Field Notes, document 10
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-08-12.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-08-12.01.jpg" alt="" title=""/></a>Profile of a Boy, August 12, 1804, Field Notes, document 42
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-08-19.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-08-19.01.jpg" alt="" title=""/></a>Sketch of a Horse, August 19, 1804, Field notes, document 43
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-09-02.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-09-02.01.jpg" alt="" title=""/></a>Bon Homme Island on the Missouri River, ca. September 2, 1804, Field Notes, document 51
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-09-09.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-09-09.01.jpg" alt="" title=""/></a>Missouri River near present Fort Randall Dam, South Dakota, ca. September 9, 1804, Field Notes, reverse of document 53
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-09-21.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-09-21.01.jpg" alt="" title=""/></a>Big Bend of the Missouri River, ca. September 21, 1804, Field Notes, document 56
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1804-12-17.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1804-12-17.01.jpg" alt="" title=""/></a>Country between the Missouri and Red Rivers, ca. December 17, 1804, Field Notes, reverse of document of 66
    </div>
    <div class="image_gallery_image"><a href="item/lc.img.1805-03-29.01/"><img src="http://lewisandclarkjournals.unl.edu/images/thumbnails/thumb_n1805-03-29.01.jpg" alt="" title=""/></a>Profile of a Man with Pipe, ca. March 29, 1805, Field Notes, reverse of document 64
    </div>
  </div>
</div>
