<div class="row">
<div class="col-md-4 index_lead col-md-offset-1">

<p class="lead">From 1803-1806, in an exciting journey to the Pacific Ocean and back, Lewis and Clark's Corps of Discovery mapped the lands, described the natural wonders, and encountered the people of western North America. But, as Walter Kim wrote in Time, "If not for the … epic the captains scratched out while crouching on hillsides and squatting on riverbanks, we might not remember Lewis and Clark at all."</p>

<a href="http://www.nebraskapress.unl.edu/Catalog/ProductSearch.aspx?filter=&search=&cid=0&sort=Name&itemsperpage=10&view=List&currentpage=&pf=&sf=&sj=283" class="buy_books_link"><div class="buy_books">
<h4>Buy the Print Editions</h4>
<p>Print editions of The Journals of the Lewis &amp; Clark Expedition are available through the University of Nebraska Press</p>
</div></a>
  </div>
<div class="col-md-5 col-md-offset-1">



<p>Welcome to the Journals of the Lewis and Clark Expedition Online. This website makes available the text of the celebrated Nebraska edition of the Lewis and Clark journals, edited by Gary E. Moulton. Moulton's edition — the most accurate and inclusive edition ever published — is one of the major scholarly achievements of the late twentieth century.</p>

<p>The site features the full text — almost five thousand pages — of the journals. Also included are a gallery of images, important supplemental texts, and audio files of selected passages plus Native American perspectives. With a focus on full-text searchability and ease of navigation, the Journals of the Lewis and Clark Expedition Online is intended to be both a useful tool for scholars and an engaging website for the general public.</p>

<p>The Journals of the Lewis and Clark Expedition Online is sponsored by the <a href="http://www.neh.gov/" target="_blank">National Endowment for the Humanities</a>, the <a href="http://www.unl.edu/plains/">Center for Great Plains Studies</a>, the <a href="http://cdrh.unl.edu/">University of Nebraska Center for Digital Research in the Humanities</a>, and <a href="http://www.nebraskapress.unl.edu">University of Nebraska Press</a>.
</p>

</div>
</div>

 <div class="row">
    <div class="col-sm-3 col-xs-6">
      <div class="color-gray-darker"><br><br><br><br><br></div>
      <pre class="text-center">$gray-darker</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-gray-dark"><br><br><br><br><br></div>
      <pre class="text-center">$gray-dark</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-gray"><br><br><br><br><br></div>
      <pre class="text-center">$gray</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-gray-light"><br><br><br><br><br></div>
      <pre class="text-center">$gray-light</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-gray-lighter"><br><br><br><br><br></div>
      <pre class="text-center">$gray-lighter</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-brand-primary"><br><br><br><br><br></div>
      <pre class="text-center">$brand-primary</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-brand-success"><br><br><br><br><br></div>
      <pre class="text-center">$brand-success</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-brand-info"><br><br><br><br><br></div>
      <pre class="text-center">$brand-info</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-brand-warming"><br><br><br><br><br></div>
      <pre class="text-center">$brand-warning</pre>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="color-brand-danger"><br><br><br><br><br></div>
      <pre class="text-center">$brand-danger</pre>
    </div>
  </div> 