<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Interactive Map</h2>

    <p>
    For now, take a look at the map in the wireframes:<br/><br/>
    <a href="http://rosie.unl.edu/karin/lc_wireframes/map.html">Wireframe interactive map demo</a>
    </p>
    <p>When there is time, we'll want to rebuild the map from scratch.</p>
  </div>
</div>
