<h2>Books & Articles</h2>

 <p>The following list of recommended readings has been been prepared by the University of Nebraska Press in consultation with Advisory Board member James Ronda. Some links may take users off of the <em>Journals of the Lewis and Clark Expedition Online</em> site.</p>

 <h3>Books</h3>

 <a href="/item/lc.johnsgard.01.00/"><b>Lewis and Clark on the Great Plains: A Natural History</b></a> by Paul A. Johnsgard. Published by the University of Nebraska Press, 2003.<br><br>

 "<a href="/item/lc.lavender.01.00/"><b>The Way to the Western Sea: Lewis and Clark across the Continent</b>.</a>" by David Lavender. Published by the University of Nebraska Press, 1998.<br><br>

 "<a href="/item/lc.ronda.01.00/"><b>Lewis and Clark among the Indians</b></a>." by James P. Ronda. Published by the University of Nebraska Press, 1984.<br><br>


 <h3>Articles</h3>

 "<a href="/item/lc.allen.01/"><b>Horizons of the Sublime: The Invention of the Romantic West</b>.</a>" by John L. Allen in <font face="Arial, Arial, Helvetica"><i>Journal of Historical Geography [Great Britain]</i></font> 18.1 (1992): 27–40.<br><br>

 "<a href="/item/lc.allen.02/"><b>Lewis [and] Clark on the Upper Missouri: Decision at the Marias</b>.</a>" by John L. Allen in <font face="Arial, Arial, Helvetica"><i>Montana</i></font> 21.3 (1971): 2–17.<br><br>

 "<a href="/item/lc.allen.03/"><b>New World Encounters: Exploring the Great Plains of North America</b>.</a>" by John L. Allen in <font face="Arial, Arial, Helvetica"><i>Great Plains Quarterly</i></font> 13.2 (1993): 69–80.<br><br>

 "<a href="/item/lc.alwin.01/"><b>Pelts, Provisions and Perceptions: The Hudson's Bay Company Mandan Indian Trade, 1795–1812</b>.</a>" by John A. Alwin in <font face="Arial, Arial, Helvetica"><i>Montana</i></font> 29.3 (1979): 16–27.<br><br>

"<a href="/item/lc.bahmer.01/"><b>The Case of the Clark Papers</b>.</a>" by Robert H. Bahmer in <font face="Arial, Arial, Helvetica"><i>American Archivist</i></font> 19.1 (1956): 19–22.<br><br>

"<a href="/item/lc.bedini.01/"><b>The Scientific Instruments of the Lewis and Clark Expedition</b>.</a>" by Silvio A. Bedini in <font face="Arial, Arial, Helvetica"><i>Great Plains Quarterly</i></font> 4.1 (1984): 54–69.<br><br>

"<a href="/item/lc.belyea.01/"><b>Mapping the Marias: The Interface of Native and Scientific Cartographies</b>.</a>" by Barbara Belyea in <font face="Arial, Arial, Helvetica"><i>Great Plains Quarterly</i></font> 17.3-4 (1997): 165–84.<br><br>

"<a href="/item/lc.blake.01/"><b>Great Plains Native American Representations along the Lewis and Clark Trail</b>.</a>" by Kevin S. Blake in <font face="Arial, Arial, Helvetica"><i>Great Plains Quarterly</i></font> 24.2 (2004): 263–82.<br><br>

"<a href="/item/lc.bright.01/"><b>A Glossary of Native American Toponyms and Ethnonyms from the Lewis and Clark Journals</b>.</a>" by William Bright in <font face="Arial, Arial, Helvetica"><i>Names</i></font> 52.3 (2004): 163–237.<br><br>

"<a href="/item/lc.danisi.01/"><b>Lewis and Clark's Route Map: James Mackay's Map of the Missouri River</b>.</a>" by Thomas C. Danisi and W. Raymond Wood in <font face="Arial, Arial, Helvetica"><i>Western Historical Quarterly</i></font> 35.1 (2004): 53–72.<br><br>

"<a href="/item/lc.debres.01/"><b>Exploration in a Continental Climate: Weather in the Central Plains Recorded in the Journal of William Clark</b>.</a>" by Karen Jean DeBres in <font face="Arial, Arial, Helvetica"><i>Heritage of The Great Plains</i></font> 37.1 (2004): 63–74.<br><br>

"<a href="/item/lc.devoto.01/"><b>An Inference Regarding the Expedition of Lewis and Clark</b>.</a>" by Bernard DeVoto in <font face="Arial, Arial, Helvetica"><i>Proceedings of the American Philosophical Society</i></font> 99.4 (1955): 185–94.<br><br>

"<a href="/item/lc.foley.01/"><b>Friends and Partners: William Clark, Meriwether Lewis, and Mid-America's French Creoles</b>.</a>" by William E. Foley in <font face="Arial, Arial, Helvetica"><i>Missouri Historical Review</i></font> 2004 98(4): 270–82.<br><br>

"<a href="/item/lc.furtwangler.01/"><b>Sacagawea's Son as a Symbol</b></a>." by Albert Furtwangler in <font face="Arial, Arial, Helvetica"><i>Oregon Historical Quarterly</i></font> 102.3 (2001): 290–315.<br><br>

"<a href="/item/lc.jackson.02/"><b>Jefferson, Meriwether Lewis, and the Reduction of the United States Army</b>.</a>" by Donald Jackson in <font face="Arial, Arial, Helvetica"><i>Proceedings of the American Philosophical Society</i></font> 124.2 (1980): 91–96.<br><br>

"<a href="/item/lc.jackson.01/"><b>The Race to Publish Lewis and Clark</b>.</a>" by Donald Jackson in <font face="Arial, Arial, Helvetica"><i>Pennsylvania Magazine of History and Biography</i></font> 85.2 (1961): 163–77.<br><br>

"<a href="/item/lc.jenkinson.01/"><b>Against the Undertow of Myth: The Uncertainties of Lewis and Clark in North Dakota</b>.</a>" by Clay S. Jenkinson in <font face="Arial, Arial, Helvetica"><i>North Dakota Quarterly</i></font> 71.2 (2004): 6–27.<br><br>

"<a href="/item/lc.oconnor.01/"><b>The Evolving Landscape of the Columbia River Gorge: Lewis and Clark and Cataclysms on the Columbia</b>.</a>" by Jim E. O'Connor in <font face="Arial, Arial, Helvetica"><i>Oregon Historical Quarterly</i></font> 105.3 (2004): 390–421.<br><br>

"<a href="/item/lc.ronda.02/"><b>Exploring the Explorers: Great Plains Peoples and the Lewis and Clark Expeditio</b>n.</a>" by James P. Ronda in <font face="Arial, Arial, Helvetica"><i>Great Plains Quarterly</i></font> 13.2 (1993): 81–90.<br><br>

"<a href="/item/lc.winfield.01/"><b>The Press Response to the Corps of Discovery: The Making of Heroes in an Egalitarian Age</b>.</a>" by Betty Houchin Winfield in <font face="Arial, Arial, Helvetica"><i>Journalism &amp; Mass Communication Quarterly</i></font> 80.4 (2003): 866–83.<br><br>


<h3>Essays</h3>

"<a href="/item/lc.missing/"><b>The Missing Journals of Meriwether Lewis</b></a>" by Gary E. Moulton. Originally published in <a href="http://www.his.state.mt.us/pub/magazine/default.asp" target="blank"><font face="Arial, Arial, Helvetica"><i>Montana: The Magazine of Western History</i></font></a> 35, no.3 (1985): 28–39.<br><br>

"<a href="/item/lc.almost/"><b>The Journals of Lewis and Clark: Almost Home</b></a>" by Gary E. Moulton. Originally published in <a href="http://www.his.state.mt.us/pub/magazine/default.asp" target="blank"><font face="Arial, Arial, Helvetica"><i>Montana: The Magazine of Western History</i></font></a> 48, no.2 (1998): 72–79.  <br><br>


 <h3>Offsite</h3>

"<a href="http://www.jstor.org/stable/214058"><b>An Analysis of the Exploratory Process: The Lewis and Clark Expedition of 1804–1806</b></a>." by John L. Allen in <font face="Arial, Arial, Helvetica"><i>Geographical Review</i></font> 62:1 (1972): 13–39.<br><br>



<h3>Broken Links (Temporary)</h3>

"<a href="http://www.ohs.org/"><b>Describing a New Environment: Lewis and Clark and Enlightenment Science in the Columbia River Basin</b>.</a>" by William L. Lang in <font face="Arial, Arial, Helvetica"><i>Oregon Historical Quarterly</i></font> 105.3 (2004): 360–89.<br><br>

"<a href="http://www.historycooperative.org/journals/whq/33.1/ronda.html" target="blank"><b>Counting Cats in Zanzibar, or, Lewis and Clark Reconsidered</b></a>" by James P. Ronda. From <a href="http://www.usu.edu/history/whq/" target="blank"><font face="Arial, Arial, Helvetica"><i>The Western Historical Quarterly.</i></font></a> Vol. 33, no. 1. <br><br>



<h3>Additional Readings</h3>

<p>The following recommended readings are not currently online. Please check your local library for availability.</p>


<b>"Landscape Change at the Confluence: From Lewis and Clark to the Present"</b> by John L. Allen in <font face="Arial, Arial, Helvetica"><i>North Dakota History</i></font> 69.2–4 (2002): 2–23.<br><br>

<b>"Snake Frontiers: The Eastern Shoshones in the Eighteenth Century"</b> by Colin G. Calloway in <font face="Arial, Arial, Helvetica"><i>Annals of Wyoming</i></font> 63.3 (1991): 82–92.<br><br>

<b>"Some Medical Aspects of the Lewis and Clark Expedition"</b> by Cindy Fent in <font face="Arial, Arial, Helvetica"><i>North Dakota History</i></font> 53.1 (1986): 24–28.<br><br>

<b>"'To Acquire What Knolege You Can': The Scientific Contributions of Lewis and Clark"</b> by Robert McCracken Peck in <font face="Arial, Arial, Helvetica"><i>South Dakota History</i></font> 34.1 (2004): 5–27.<br><br>

<b>"An Introduction to the History of the Fur Trade on the Northern Plains"</b> by W. Raymond Wood in <font face="Arial, Arial, Helvetica"><i>North Dakota History</i></font> 61.3 (1994): 2–6.<br><br>

<b>"John Thomas Evans: An Overlooked Precursor to Lewis and Clark"</b> by W. Raymond Wood in <font face="Arial, Arial, Helvetica"><i>North Dakota History</i></font> 68.2 (2001): 27–37.<br><br>






