<%
  @title = "Server Error"
  @description = ""
%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Something Went Wrong</h2>
    <p>If you continue to experience problems, please contact us at cdrh [at] unl.edu</p>
  </div>
</div>
