<%
  @title = "Map of the Expedition"
  @description = ""

  @ext_css = %w( leaflet )
  @ext_js = %w(
    leaflet
    map
    tile.stamen-1.3.0-https
  )

  locations = ""
    if @json.empty?
      locations += "var locations = [];"
    else
      locations += "var locations = "
      locations += @json.html_safe
      locations += ";"
    end
  @inline_js = locations
%>

<h2>Map</h2>

<p>We are currently in the process of verifying the information presented on this map. If you find any errors, please let us know at cdrh [at] unl.edu.</p>

<%= form_tag(map_path, :method => "get", :class => "input-group form-control") do %>
  <%= hidden_field_tag(:qfield, "text") %>
  <%= text_field_tag(:qtext, params[:qtext], :placeholder => "Search for...", :class => "form-control") %>
  <span class="input-group-btn">
    <%= submit_tag "Search", class: "btn btn-primary", name: nil, data: { disable_with: false } %>
  </span>
<% end %>

<div id="map_container"></div>
