<!-- javascripts -->
<%= javascript_include_tag "leaflet", media: "all" %>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<%= javascript_include_tag "map", media: "all" %>

<!-- stylesheets -->
<%= stylesheet_link_tag "leaflet", media: "all" %>

<h2>Map</h2>

<div id="map_container"></div>
