/**************************************/
/* Bootstrap IMPORT */
@import "bootstrap-sprockets";
@import "bootstrap";
/* /Bootstrap IMPORT */
/**************************************/


/* -----------
Basic Text Styles
----------- */
a {
  color: #36659C;
  text-decoration: underline;
}

h1 {
  font-family: 'Cormorant Garamond', Garamond, 'Times New Roman', Times, serif;
  font-weight: 100;
  text-shadow: 1px 1px 1px #FFF;
}

hr {
  display: block;
  clear: both;
  margin-top: 20px;
}

table {
  line-height: 1em;

  tr td {
    margin: 0;
    padding: 0;
  }
}

.three_column {
  column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.tooltip {
  text-indent: 0;
}


/* -----------
Basic Page Styles
----------- */
body {
  background-color: transparent;
}

html {
  background-color: #EEE;
  background-image: url("../images/river2.png");
  background-position: top;
  background-repeat: no-repeat;
}

ul.simple {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.buffer-bottom {
  margin-bottom: 14px;
}

.buffer-bottom-sm {
  margin-bottom: 7px;
}

.buffer-right {
  margin-right: 14px;
}

.buffer-right-sm {
  margin-right: 7px;
}

.center {
  display: table;
  margin: auto;
  text-align: center;
}

.clear_return {
  clear: both;
  height: 1em !important;
}

.page_content {
  background-color: #F5F5F5;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: -1.5em;
  padding-bottom: 2em;
  padding-top: 1.5em;
}

.right {
  display: block;
  padding-bottom: .5em;
  text-align: right;
}

/* Footer */
.buy_books {
  background: url("../images/river_part.png") right -30px no-repeat scroll #EFEDE8;
  border:  3px solid #FFF;
  margin-bottom: 1em;
  padding: 20px 30px;

  &:hover {
    border-color: #305074;
  }
}

.buy_books_link {
  color: #305074;
  text-decoration: none !important;
}

.footer {
  margin: 4em 0 9em 0;
  text-align: center;
}

.footer_info {
  margin-bottom: 5em;
}

.footer_logo img {
  margin-top: 2em;
  max-width: 100%;
  width: 300px;
}

.footernav {
  margin: 1em 0 3em 0;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    padding: 1em;
  }
}

.metadata {
  border: 2px solid #AAA;
  margin: 20px 0;
  padding: 20px;
}


/* -----------
Header
----------- */
/* Title */
// Use if you want to switch the ampersand to another font
//.amp {
//}

.header .home_search .pull-right {
  @media (max-width: 768px) { & {
    width: 100%;
  } }
}

.site_title h1 {
  font-size: 3.4em;
  line-height: 1em;
  margin-top: .1em;

  a {
    color: #000 !important;
    text-decoration: none !important;

    @media (max-width: 768px) { & {
      font-size: .7em !important;
      line-height: 0;
    } }
  }

  .sml {
    bottom: .08em;
    font-size: .7em;
    position: relative;
  }
}

/* Search */
.home_search {
  margin-top: 25px;
  overflow: auto;

  a {
    font-size: 1.2em;
  }

  input,
  .home_search button {
    background-color: #F5F5F5;
    background-color: rgba(255, 255, 255, .6);
  }
}

/* Navbar */
.navbar-default {
  background-color: #2F5076;
  background-color: rgba(0, 41, 86, 0.8);
  border: none;

  .navbar-nav li a {
    color: #FFF;
    font-size: 1.1em;
    font-weight: 100;
    text-decoration: none;

    &:hover {
      background-color: #274669;
      background-color: rgba(24, 46, 75, .3);
      color: #FFF;
    }

    &:active {
      color: #FFF;
    }
  }
}


/* -----------
 TEI Styles
----------- */
/* Tables */
a.regularization {
  white-space: nowrap;
}

.tei_ab .tei_date {
  display: block;
  padding-bottom: .5em;
  text-align: right;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.underline, 
.tei_hi_underline, 
.tei_rend_underline {
  text-decoration: underline; 
}

.regularization {
  border-bottom: 4px solid #E6E6E6;
  box-shadow: inset 0 -4px 0 #E6E6E6;
  color: #000;
  margin: 0 0 -3em 0;
  padding: 0;
  text-decoration: none;
}

.superscript {
  font-size: .9em;
  vertical-align: super;
}

.tei_list_head {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.2em;
}

.tei_table {
  font-size: .9em;
  margin: 1em auto;
  width: auto;

  td {
    padding: 0 .2em;

    // Leaving because it may need further adjustments in future
    //& .cell_contents {
    //  line-height: 1.2em;
    //}
  }
}

.tei_table_head {
  text-align: center;
}

.underline {
  // border-bottom: 1px solid #000;

  &.double {
    border-bottom: 3px double #000;
  }
}

/* Figures */
.entry .tei_figure {
  display: block;
  font-size: .9em;
  margin: 1em 0;
  padding: .5em 0;

  p {
    line-height: 1.2em;
    margin: .2em 0 .5em;
    text-indent: 0;
  }

  .tei_caption {
    display: block;
    font-size: 1.2em;
    margin: .8em 0 .5em 0;
  }

  .tei_label {
    display: none;
  }

  .note {
    display: block;
    margin-top: .5em;
  }

  .tei_orgName {
    border-top: none;
    display: block;
    margin-top: .5em;
    padding-top: .5em;
  }

  .tei_resp {
    display: block;
    font-weight: 800;
    margin-top: .5em;
  }
}

/* Heads and Bibls */
h2 {
  &.title_main {
    font-size: 1.4em;

    & .title_sub {
      display: block;
      font-size: 1.4em;
    }
  }
}

h3.figure_head {
  font-size: 1.2em;
  font-weight: 100;
}

.book_bibl {
  font-size: .9em;
}

.editor_end {
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

.footnote {
  margin-bottom: 1em;

  p {
    margin: 1em 0 0 0;
  }

  .tei_list_head {
    font-size: 1em;
    font-weight: 100;
  }
}

.milestone {
  border-top: 2px solid #AAA;
  height: 1px;
  margin-bottom: 1em;
  width: 100%;
}

.notes {
  .entry p,
  .tei_div p {
    text-indent: 0;
  }
}

.p {
  margin-bottom: 1em;
}

.tei_bibl {
  .bib &,
  .bibliography &,
  .source & {
    margin-bottom: .7em;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }

  .note {
    display: inline;
  }
}

.tei_div {
  margin-bottom: 1em;
}

.tei_title {
  font-style: italic;
}

.title_author {
  display: block;
  font-size: 1.4em;
  margin-bottom: .3em;
}


/* -----------
  Site Sections
----------- */
/* Map Styles */
#map_container {
  height: 400px;
}

/* Journal Entries */
.entry {
  border-bottom: 3px solid #AAA;
  margin-bottom: 1em;
  padding-bottom: .5em;

  .tei_bibl {
    div,
    span {
      display: inline;
    }
  }
}

.entry p,
.tei_div p {
  text-indent: 2em;
}

// List groups on Journals page, will need more tweaking
a {
  &.list-group-item {
    color: #FFF;
    text-decoration: none;
  }

  &:hover.list-group-item {
    background-color: $brand-success !important;
  }
}

p.list-group-item-text {
  color: #FFF !important;
  margin: .7em 0 .7em 0;
}

@media (min-width: 768px) {
  .entry_author {
    float: left;
    width: 55%;
  }

  .entry_date {
    float: right;
    margin-top: .8em;
    text-align: left;
  }
}

/* Journal Entries: Fancy tables and brackets */
table.table {
  margin-top: 2em !important;
}

td {
  line-height: 1.05em !important;
  padding-right: .5em !important;

  &.table_valign_middle {
    vertical-align: middle !important;
  }
}

.cell_bracket {
  font-weight: 100;

  @mixin rowspan($num, $size) {
    &.rowspan_#{$num} .cell_contents {
      font-size: #{$size}em;
    }
  }
  @include rowspan(2, 2.7);
  @include rowspan(3, 4);
  @include rowspan(4, 5);
  @include rowspan(5, 6);
  @include rowspan(6, 7);
  @include rowspan(7, 8);
  @include rowspan(8, 9);
  @include rowspan(9, 10);
  @include rowspan(10, 11);
  @include rowspan(11, 12);
  @include rowspan(12, 13);
  @include rowspan(13, 14);
}

.table .table {
  background-color: transparent;
}

.table_halign_center {
  text-align: center;
}

.tei_tr {
  // Can't get this to work with padding or margin, come back to later. look at 
  // http://rosie.unl.edu/lewisandclark/item/lc.jrn.1804-01-21-1 as an example
  border-bottom: .7em solid transparent;
}

/* Journal Entries: Progress Bar */
div.progress {
  background-color: #CED8DB;
  border: 1px solid #AAA;
  height: .5em;
}

.btn {
  text-decoration: none;
}

.first_date,
.last_date {
  font-size: .7em;
  margin-top: -2em;
}

.first_date {
  float: left;
}

.last_date {
  float: right;
}

.prev_next_buttons .btn {
  margin-top: .5em;
}

.progress_description {
  display: block;
  font-size: .9em;
  text-align: center;
}

/* Search results */
.highlighting {
  em {
    display: inline-block;
    font-weight: 700;
  }

  li:after,
  li:before {
    content: "…";
  }
}

.search_results_info {
  border-right: 1px dotted #333;
  text-align: right;
}

.search_results_info,
.search_results_title {
  ul {
    margin: 0;
    padding: 0;

    li {
      line-height: 1.2em;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.searchResults {
  border-bottom: 1px solid #AAA;
  padding: 10px 0;

  .title {
    font-size: 1.4em;
    line-height: 1.2;
    margin-bottom: .5em;
  }
}

/* Audio/Video */
// Video Embed CSS (This comes from UNL's CMS rules)
.wdn-responsive-embed {
  display: block;
  height: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  &.wdn-aspect16x9 {
    padding-bottom: 56.25%;
  }

  embed,
  iframe,
  object,
  video,
  .wdn-responsive-item {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/* Additional Texts */
.book_pagination {
  margin: 1em 0;

  .entire_text_link:after,
  .previous_link:after,
  .toc_link:after {
    content: " | ";
  }
}

.chapter ul,
.contents ul,
.illusList ul,
.mapList ul {
  margin: .5em 0 1em 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.lead {
  font-size: 1.2em;
}

.ref_link {
  text-decoration: none;
}

.toc ul {
  margin: 0;
  padding: 0 0 0 1em;
}

/* Image Gallery */
.gallery_note {
  clear: both;
  display: block;
  font-size: 1.1em;
}

.image_gallery_image {
  background-color: #EEE;
  float: left;
  font-size: .9em;
  height: 200px;
  line-height: 1.1em;
  margin: 10px 10px 0 0;
  padding: 15px;
  text-align: center;
  width: 300px;

  img {
    display: block;
    margin: 0px auto 10px auto;
  }
}

.tei_figure .tei_label {
    color: #000;
    font-weight: 100;
    font-size: 1em;
}

/* Index */
table.dictionary td {
  padding-left: 1.5em !important;
  text-indent: -1.5em ;
}

.index_list .name {
  padding-bottom: 0.75em;

  span {
    border-bottom: 1px dotted #333;
    display: block;

    a {
      background-color: #F4F4F4;
      padding: 0 .375em .25em 0;
      text-decoration: none;
    }
  }
}

/* Indentation fixes */
.additional p,
.audio p,
.bibliography p,
.links p {
  text-indent: 0;
}

