/**************************************/
/* Bootstrap IMPORT */
@import "bootstrap-sprockets";
@import "bootstrap";
/* /Bootstrap IMPORT */
/**************************************/


h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  text-shadow: .1px .05em .1em #ffffff;
  line-height: 1.2em;
  
}

a.regularization {
  white-space: nowrap;
}

h1 a {
  text-decoration:none !important;
  color:#000 !important;
}

h1 .cap {
  font-size: 1.4em;
  letter-spacing: -.05em;
}

h1 .sml {
  font-size: .7em;

  position: relative;
  bottom: .1em;
}

.home_search {

  overflow: auto;
  margin-top: 25px;
}

.home_search a {
  
  font-size: 1.2em;
}

.home_search input,.home_search button {
  background-color: rgba(255,255,255,.6);
}


html {
  background-image: url("../images/river2.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #eeeeee;
  /* alternate #EFEDE8 */ }

.navbar-default {
  background-color: rgba(0, 41, 86, 0.8);
  border: none; }

.navbar-default .navbar-nav li a {
  text-decoration: none; 
  color: #fff;
  font-size: 1.1em;
  font-weight: 100;
}

.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: rgba(24, 46, 75, .3);
}

a {
  color: #36659c;
  text-decoration: underline; }

.page_content {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: -25px;
  padding-top: 25px;
  padding-bottom:2em; }

body {
  background-color: transparent; }

/* Map Browse */
.map_browse_checklist {
  max-height: 400px;
  overflow: scroll; }

/* Sidebar Spacing */
.side-bar {
  width: 400px;
  padding: 1em 1em 1em 2em; }

.content {
  padding-left: 400px; }

.active > .side-bar {
  margin-left: -330px; }

.active > .content {
  padding-left: 70px; }

/* Sidebar everything else */
/*.container {
  overflow: hidden;
  display: inline-block; }*/
.side-bar {
  position: absolute;
  height: 100%;
  transition: margin-left 0.5s;
  background-color: #fff; }

.side-bar ul {
  list-style: none;
  padding: 0px; }

.side-bar ul .menu li a {
  display: inline-table;
  width: 100%; }

.content {
  transition: padding-left 0.5s; }

.active > .side-bar {
  transition: margin-left 0.5s; }

.active > .content {
  transition: padding-left 0.5s; }
  
  
  
.entry .table > thead > tr > th,
.entry .table > thead > tr > td,
.entry .table > tbody > tr > th,
.entry .table > tbody > tr > td,
.entry .table > tfoot > tr > th,
.entry .table > tfoot > tr > td {
  border: none;
}

.entry table.table {
  width: auto;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.regularization {
  border-bottom: solid 4px #e6e6e6;
  box-shadow: inset 0 -4px 0 #e6e6e6;
  text-decoration: none;
  margin: 0 0 -3em 0;
  padding: 0;
  color: #000;
}

.underline {
  border-bottom: solid #000 1px;
}

.double.underline {
  border-bottom: double #000 3px;
}

.tei_table_head {
  text-align: center;
}

.ab .date {
  padding-bottom: .5em;
  text-align: right;
  display: block;
}

.entry {
  border-bottom: solid #aaa 3px;
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.entry p {
  text-indent: 2em;
}

.tooltip {
  text-indent: 0;
}

.right {
  padding-bottom: .5em;
  text-align: right;
}

span.ab {
}

/* List groups on Journals page, will need more tweaking */
a.list-group-item {
  color: #fff;
  text-decoration: none;
  
}

a:hover.list-group-item{
  background-color: #334B6D !important;
  
}

p.list-group-item-text {
  
  color: #fff !important;
  margin: .7em 0 .7em 0;
}

/* Columns */

.three_column {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}

.footer {margin: 4em 0 9em 0;
text-align:center;}

.footer img{
  max-width:100%
}

.toc ul {
  padding: 0 0 0 1em;
  margin: 0;
}

.buy_books {
  background: url("../images/river_part.png") right -30px no-repeat scroll #EFEDE8;
  padding: 20px 30px;
border:  solid 3px #fff;
margin-bottom: 1em;
}

.buy_books:hover {
  border-color: #305074;
}

.buy_books_link {
  text-decoration: none !important;
  color: #305074;
}

.lead {
  font-size: 1.2em;
}



